@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family:'Cabin', sans-serif;
    src: url("./assets/fonts/static/Cabin_Condensed/Cabin_Condensed-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'Cabin', sans-serif;
    src: url("./assets/fonts/static/Cabin_Condensed/Cabin_Condensed-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}


body {
    background-color: var(--dark-blue);
    overflow-x: clip;
    width: clamp(100%, 100%, 1000px);
}



:root {
    --light-blue: #00F0FF;
    --dark-blue: #181747;
    --anton-font: 'Anton', sans-serif;
    --cabin-font: 'Cabin', sans-serif;
}

main {
    width: 100%;
    max-width: 1263px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    position: relative;
    width: 455px;
}

header {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ffff;
    z-index: 999;
    position: fixed;
    top: 0;
    transition: 350ms;
}

header img {
    width: 6rem;
    height: 6rem;
    
}

.logo-container {
    width: 30%;
    position: relative;
}
.logo-container img{
    position: absolute;
    left: 2rem;
}
.nav-container{
    width: 70%;
}
.nav-container nav ul , .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-container nav ul li {
    list-style: none;
    margin: 0 2rem;
    color: #ffff;
    font-family: var(--cabin-font);
    font-size: 1.8rem;
    width: fit-content;
    background: black;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 600;
    transition: 350ms;
}
.nav-container nav ul li:hover {
    background: linear-gradient(45deg, cyan, #9100c5);
}
.nav-container nav ul a {
    text-decoration: none;
}


.glass {
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template: 250px 250px / 1fr 1fr 1fr;
    position: absolute;
    top: 8rem;
    left: 0;
    filter: blur(8px);
    margin: 0 auto;
}
.glass-trigger{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 8.3rem;
}
.fragment {
    background-color: rgb(186, 112, 255);
    border: 1px solid black;
    transform: scale(1) rotate(0deg);
    opacity: .1;
}
.light-ring {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    top: -27rem;
    left: -20rem;
    box-shadow: 0px 0px 60px 20px cyan, inset 0px 0px 60px 10px cyan;
    animation: light-colors 10s infinite ease-in-out;
    z-index: 10;
}
@keyframes light-colors {
    0% {
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
    }
    4%{
        border: 10px solid grey;
        box-shadow: none;
    }
    5%{
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
        border: 10px solid white;
    }
    6%{
        border: 10px solid grey;
        box-shadow: none;
    }
    6.5%{
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
        border: 10px solid white;
    }
    7%{
        border: 10px solid grey;
        box-shadow: none; 
    }
    7.5%{
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
        border: 10px solid white;
    }
    40%{
        box-shadow: 0px 0px 60px 10px rgb(186, 112, 255), inset 0px 0px 60px 10px rgb(186, 112, 255);
    }
    95%{
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
    }
    100%{
        box-shadow: 0px 0px 60px 10px cyan, inset 0px 0px 60px 10px cyan;
    }
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    /* backdrop-filter: blur(20px); */
    z-index: 10;
    /* in mobile flex-direction: column */
    width: 100%;
    margin-top: 12rem;
    position: relative;
    /* border: 1px solid red; */
}
.presentation .greeting-container {
    width: 1fr;
    color: #ffff;
    font-size: 4.5rem;
    position: relative;
    margin: 0 auto;
}

.text-animation {
    position: relative;
    width: 455px;
    /* height: 205px; */
    overflow-y: clip;
    height: 170px;
}

.text-animation video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
    opacity: 0.6;
}


.small-font {
    color: var(--light-blue);
    font-size: 1.8rem;
    font-family: var(--cabin-font);
    font-weight: 400;
    position: absolute;
    top: 1.2rem;
    left: 8rem;
    z-index: 5;
}
.the-name {
    font-size: 17rem;
    font-weight: 400;
    height: 215px;
    font-family: var(--anton-font);
    color: white;
    /* color: #c3c0c0; */
    text-align: center;
    position: absolute;
    /* width: 100%; */
    top: -3rem;
    margin-top: -1rem;
    margin-left: -16rem;
    padding-left: 16.4rem;
    background: black;
    mix-blend-mode: multiply;
    /* -webkit-text-stroke: 1px white; */
}
.the-profession {
    background-color: var(--light-blue);
    width: fit-content;
    font-size: 5.5rem;
    font-family: var(--anton-font);
    padding: .5rem;
    color: #000;
    margin-top: 1rem;
    z-index: 5;

}

.presentation .light-container {
    width: 300px;
    margin: 0 auto;
}

.presentation img {
    width: 400px;
    z-index: -1;
    opacity: .7;
}
.left-arm {
    position: absolute;
    right: 35rem;
    bottom: -11rem;
    transform: rotate(-35deg);
    filter: drop-shadow(2px 2px 5px var(--light-blue));
}
.right-arm {
    position: absolute;
    right: -7rem;
    top: -11rem;
    transform: rotate(-35deg);
    filter: drop-shadow(2px 2px 5px var(--light-blue));
}

.greeting-container, .light-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.light-container .round-light {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--light-blue);
    animation: electric 3s infinite ease-out;
    position: absolute;
    right: 30rem;
    top: 11rem;
}
@keyframes electric {
    0% {
        box-shadow: 0 0 4px cyan, 0 0 8px cyan;
    }
    50%{
        box-shadow: 0 0 32px cyan, 0 0 64px cyan;
    }
    100% {
        box-shadow: 0 0 4px cyan, 0 0 8px cyan;  
    }
}
.light-ball {
    width: 3rem;
    transform: translateY(210px);
}

.light-container_mobile, .round-light_mobile {
    display: none;
}


.about-me {
    display: flex;
    flex-direction: row; 
    /* in mobile flex-direction: column */
    width: 100%;
    margin-top: 12rem;
    position: relative;
    
}
.about-me_text{
    width: 50%;
    background-color: var(--light-blue);
    color: #ffff;
    padding: 1.5rem;
    /* position: relative; */
}
.light-photo_trigger{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -2rem;
}
.inner-about {
    width: 70%;
    border-radius: 10px;
    background-color: var(--dark-blue);
    border: none;
    padding: 1rem;
    margin: 0 .5rem 0 auto;
}
.about-me_text h2{
    font-family: var(--anton-font);
    font-size: 3rem;
    font-weight: 400;
}
.about-me_text p {
    font-family: var(--cabin-font);
    font-size: 1.8rem;
    margin-top: 2rem;
}

.about-me_photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border:  1px solid red; */
}
.about-me_photo .rrss {
    width: 40px;
    display: flex;
    position: absolute;
    top: 8rem;
    right: 4rem;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    /* border: 1px solid red; */
}
.rrss svg {
    cursor: pointer;
    opacity: 0;
    filter: drop-shadow(2px 2px 4px var(--light-blue));
}
.icon-container {
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    height: 3rem;
}
.icon-container:hover svg path {
    color: var(--light-blue);
}
.rrss svg path {
    stroke: var(--light-blue);
    stroke-width: 15px;
    color: transparent;
}
.photo-box{
    width: 35rem;
    height: 35rem;
    border: 2px solid var(--light-blue);
    border-radius: .5rem;
    overflow: clip;
    z-index: 10;
    background-color: grey;
    position: relative;
    /* object-fit: cover;
    object-position: center; */
}
.photo-box::before{
    content: "Low Energy";
    position: absolute;
    top: 10rem;
    left: 12rem;
    font-size: 25px;
    font-family: var(--anton-font);
    color: rgb(59, 59, 59);
    animation: parpadeo 1s infinite ;
}

.photo-box img {
    width: 100%;
}
@keyframes parpadeo {
    from {
        color: rgb(59, 59, 59);
    }
    to {
        color: #ffff;
    }
    
}
.photo-box img {
    opacity: 0;
    z-index: 12;
    position: absolute;
}

.skills-container, .projects-container {
    width: 80%;
    padding: 1.5rem;
    margin: 5rem auto;
}
.skills-container h2, .projects-container h2 {
    color: #ffff;
    font-family: var(--anton-font);
    font-size: 3rem;
    font-weight: 400;
}
.section-title_container{
    position: relative;
}

.back-text{
    font-size: 180px;
    -webkit-text-stroke: 1px white;
    position: absolute;
    margin-top: -12rem;
    left: -8rem;
    opacity: .15;
    font-family: var(--anton-font);
    color: transparent;
    
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    margin: 4rem 0;
    position: relative;
}
.skills-icons .iconify {
    font-size: 80px;
    color: var(--light-blue);
    margin: 2rem;
    z-index: 5;
}
.skills-icons p {
    font-size: 50px;
    color: var(--light-blue);
    font-family: var(--cabin-font);
    font-weight: 700;
}
.skills-icons .animate-bar {
    position: absolute;
    left: 0;
    width: 0;
    height: 130px;
    background-color: black;
    z-index: -1;
}
.skills-icons .animate-bar_mobile {
    display: none;
}


.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: space-evenly;
    margin-top: 3rem;
}

.card-project_container {
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    position: relative;
}

.card-project {
    width: 350px;
    height: fit-content;
    border: 1px solid cyan;
    border-radius: 10px;
    /* padding: 1rem; */
    background-color: black;
    color: #ffff;
    text-align: center;
    transition: 350ms;
    margin-top: 1rem;
    overflow-x: hidden;
}
.card-project_container h3 {
    font-family: var(--anton-font);
    font-size: 22px;
    font-weight: 400;
    width: fit-content;
    padding: 0 1rem;
    background-color: black;
    border-radius: 5px;
    color: white;
}
.card-project p {
    font-family: var(--cabin-font);
    font-size: 16px;
}
.image-card{
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: white;
    position: relative;
}
.image-card img, .image-card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.image-card video{
    z-index: 5;
    opacity: 0;
    transition: 350ms;
}
.card-project:hover .image-card video{
    opacity: 1;
}


.hover-view {
    width: 250px;
    height: 200px;
    position: absolute;
    right: -20rem;
    top: -10rem;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
    display: none;
    animation: appear 1s ease-in-out 1;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

.hover-view video {
    width: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.card-project:hover , .hover-view:hover {
    box-shadow: 0 0 5px var(--light-blue);
}
.card-project_container:hover .hover-view {
    display: flex;
}

#preview-text {
    display: flex;
    width: fit-content;
    margin: .5rem auto .5rem auto;
    font-family: var(--anton-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-blue);
    cursor: pointer;
}

.preview-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100%;
    right: 0; 
    left: 0; 
    width: 100%;
    height: 100vh;
    background: #000000bf;
    padding: 1rem;  
    /* transform: scale(0); */
    transform: rotateX(-90deg);
    transition: 350ms;
}

.modal-container{
    width: 100%;
    background-color: white;
    border-radius: 25px 0 0 0;
    position: absolute;
    bottom: 0;
    top: 8rem;
    display: grid;
    grid-template: 90% 10% / 100vw;
    grid-template-areas: "main"
                         "title";
    overflow: clip;
    /* padding: 1rem; */
    justify-content: center;
}
.show-modal {
    top: 0;  
    left: 0;
    right: 0;
    transform: rotateX(0deg);
    z-index: 999;
}
.close-icon {
    color: white;
    position: absolute;
    font-family: var(--cabin-font);
    font-size: 25px;
    font-weight: 700;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}
.media-container {
    width: 96%;
    border: 1px solid red;
    overflow-y: auto;
    padding: 2rem 10rem;
    grid-area: main;
    margin: 0 auto;
}

.preview-modal h4 {
    font-family: var(--anton-font);
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
    position: absolute;
    top: 3rem;
}
.preview-modal a {
    text-decoration: none;
    font-family: var(--anton-font);
    font-size: 20px;
    color: var(--light-blue);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: title;
}
.media-container::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(128, 128, 128, 0.712);
    border-radius: 5px;
}
.media-container::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--light-blue);
    border-radius: 5px;
}
.preview-modal p {
    color: rgb(0, 0, 0);
    font-size: 20px;

}

/* **** contact Form */
.form-section{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 80%;
    padding: 1.5rem;
    margin: 5rem auto;
    border: 1px solid red;
}

.form-section h2 {
    color: #ffff;
    font-family: var(--anton-font);
    font-size: 3rem;
    font-weight: 400;
}

.form-section form {
    width: 80%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-section form input, .form-section form textarea{
    width: 370px;
    font-family: var(--cabin-font);
    font-size: 1.8rem;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid cyan;
    outline-color: cyan;
    caret-color: cyan;
    /* background: #0000005e; */
    background: linear-gradient(60deg,#0000005e 70%, #00ffff33);
    backdrop-filter: blur(2px);
}
.form-section form input:hover, .form-section form textarea:hover{
    box-shadow: 0 0 8px 1px cyan;
}


#send-mail{
    width: fit-content;
    font-family: var(--cabin-font);
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 2rem;
    color: #ffffff;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    border: none;
    transition: 350ms;
}
#send-mail:hover{
    background: linear-gradient(45deg, cyan, #9100c5);
}

.modal-sent_container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
}

.modal-sent{
    width: 250px;
    height: 200px;
    background: linear-gradient(45deg, #00f0ff, #181747);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -30rem; */
    z-index: 10;
    box-shadow: 0px 0px 8px 1px cyan;
    border: 2px solid cyan;
    backdrop-filter: blur(8px);
    display: flex;
}

.check-container{
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.check {
    width: 50px;
    height: 50px;
    margin-top: 3rem;
    color: black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-radius: 50%;
    padding: 0 10px;
    border-bottom: 2px solid white;
    transform: rotate(329deg);
    position: relative;
}
span.check::after {
    content: "";
    width: 48px;
    height: 3px;
    background: white;
    color: white;
    transform: rotate(159deg);
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    /* animation: check 1s infinite ease-in; */
}
span.check::before {
    content: "";
    width: 12px;
    height: 3px;
    background: white;
    color: white;
    transform: rotate(257deg);
    position: absolute;
    top: 2rem;
    left: 1rem;
}

#p-modal {
    font-family: var(--cabin-font);
    font-size: 25px;
    color: rgb(255, 255, 255);
    width: fit-content;
    font-weight: 600;
}

.modal-show {
    display: flex;
    animation: show 1s forwards 1; 
}

.modal-hide {
    display: none;
}

#loader {
    width: 50px;
    height: 50px;
    border: 2px solid cyan;
    border-left: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 3rem;
    animation: rotate  500ms infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ++++++++++++++++++++ */


footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ffff;
}
footer p {
    font-family: var(--anton-font);
    font-size: 1.5rem;
    color: #ffff;
}

/*    viewport 1263 PX  ********************************************************************************* */
@media (min-width: 1290px) {

    .glass-trigger{
        bottom: -6rem;
    }
    .light-photo_trigger{
        width: 10px;
        height: 10px;
        background-color: white;
        position: absolute;
        top: 13.5rem;
    }
    
}

/*      VIEWPORT  500 PX  ******************************************************************************** */
@media (max-width: 500px) {

    .logo-container {
        width: 64px;
    }
    .logo-container img {
        left: 0;
    }
    .nav-container {
        width: 85%;
    }
    .nav-container nav ul li {
        margin: 0 0.5rem;
        font-size: 1.7rem;
    }
    #li-contact{
        background: linear-gradient(45deg, cyan, #9100c5);
    }
    .nav-container nav ul li:hover{
        background: black;
    }

    .glass{
        display: none;
    }

    main {
        width: 100vw;
        overflow-x: clip;
    }
    
    .light-ring {
        width: 800px;
        height: 800px;
        border-radius: 50%;
        border: 10px solid white;
        position: absolute;
        top: -20rem;
        left: -50rem;
        box-shadow: 0px 0px 60px 20px cyan, inset 0px 0px 60px 20px cyan;
    }
   

    .presentation {
        flex-direction: column;
        width: 100%;
        overflow-x: clip;
    }
    .greeting-container {
        width: 100%;
    }
    .text-animation {
        width: 407px;
    }

    .the-name {
        font-size: 15rem;
        top: -1.8rem;
        margin-left: -15.7rem;
    }
    .the-profession {
        font-size: 4.7rem;
        margin: 1rem auto;
    }
    .light-container, .round-light {
        display: none;
    }

    .light-container_mobile {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        margin-top: 10rem;
        position: relative;
    }
    .round-light_mobile {
        display: flex;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: var(--light-blue);
        animation: electric 3s infinite ease-out;
    }
    .trigger-mobile {
        width: 10px;
        height: 10px;
        background-color: white;
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
    .light-container_mobile img {
        width: 270px;
    }
    .left-arm, .right-arm {
        display: none;
    }
    .left-arm_mobile, .right-arm_mobile {
        display: flex;
        position: absolute;
        filter: drop-shadow(2px 2px 5px var(--light-blue));
    }
    .left-arm_mobile {
        left: -7rem;
        bottom: -6rem;
        transform: rotate(-45deg);
    }
    .right-arm_mobile {
        top: -6rem;
        right: -7rem;
        transform: rotate(-35deg);
    }

    .about-me {
        flex-direction: column-reverse;
        margin-top: 19rem;
    }

    .about-me_photo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-me_photo .rrss {
        flex-direction: row;
        position: static;
        display: flex;
        width: 320px;
        height: 60px;
        align-items: center;
        text-align: center;
        margin: 2rem 1.5rem -4rem 1.5rem;
    }
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rrss svg {
        width: 35px;
        margin: 0 2rem;
    }
    .photo-box {
        width: 80%;
        height: 280px;
    }
    .photo-box::before{
        left: 11rem;
    }
    .about-me_text {
        width: 95%;
        margin-top: 5rem;
    }
    .inner-about {
        width: 85%;
    } 

    .skills-icons .animate-bar {
        display: none;
    }
    .skills-icons .animate-bar_mobile {
        position: absolute;
        display: flex;
        top: 0;
        width: 100vw;
        height: 0;
        background-color: black;
        z-index: -1;
    }

    .card-project {
        width: 300px;
    }
    .card-project p{
        font-size: 18px;
    }
    
    
    .card-project_container:hover .hover-view {
        display: none;
    }

    .media-container {
        width: 93%;
        /* height: 80vh; */
        border: 1px solid red;
        overflow-y: auto;
        padding: 2rem;
        grid-area: main;
        /* margin: 0 ; */
    }
    .close-icon {
        top: 2rem;
        right: 2rem;
    }

    .form-section form {
        width: 100%;
    }

    .form-section form input , .form-section form textarea{
        width: 100%;
        margin: .5rem 0;
    }
    
}

/*      VIEWPORT  400 PX  ******************************************************************************** */
@media (max-width: 400px) {

    .nav-container nav ul li {
        margin: 0 0.2rem;
        font-size: 1.7rem;
    }

    .text-animation {
        width: 348px;
        height: 140px;
    }
    .small-font {
        top: 1rem;
        left: 8.6rem;
    }
    .the-name {
        font-size: 12rem;
        height: 170px;
        top: -2rem;
        margin-left: -13.5rem;
        margin-top: 0;
    }
    .the-profession {
        font-size: 3.5rem;
    }

    .trigger-mobile {
        top: 6rem;
    }

    .left-arm_mobile {
        left: -7rem;
        bottom: -7rem;
        transform: rotate(-50deg);
    }

    .photo-box {
        width: 80%;
        height: 250px;
    }
    .photo-box::before{
        left: 9rem;
    }

}

@media (max-width: 320px) {
    .text-animation {
        width: 308px;
        height: 130px;
    }
    .small-font {
        top: .5rem;
        left: 7.2rem;
    }
    .the-name {
        font-size: 11rem;
        margin-left: -15rem;
    }


}

